<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANsTbjOaej40FLNC7kDhxZiTUKO0ow1kM</string>
	<key>GCM_SENDER_ID</key>
	<string>875536370610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.vhenriquebm.InstaClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-6dd78</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-6dd78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875536370610:ios:ce97789ba74087a469f2ab</string>
</dict>
</plist>